#layout {
  display: flex;
  #mainBox {
    margin-left: 300px;
    padding: 20px;
    width: 100%;
    background-color: #EFEDEE;
    @media (min-width: 1050px) and (max-width: 1680px) {
      margin-left: 250px;
    }
  }
}