config/*
model/config/*
dist/*
@types/*
build/*.js
script/*.js
scripts/*.js
src/assets/js/*
assets/js/*.js
js/*.js
libs/*.js
test/*.js
tests/*js
src/store/*.ts
src/store/**/*.ts
src/store/**/**/*.ts
server/**/*.js
src/plugins/utility.js
