#sidebar {
    background-color: #084B55;
    padding: 20px;
    width: 300px;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .side-bar-top {
        .banner {
            border-radius: 10px;
            background-color: #18775A;
            padding: 10px;
            display: flex;
            &:hover{
                background-color:#339276;
                cursor: pointer;
            }
            .logo-banner {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                border-radius: 10px;
                width: 50px;
                height: 50px;
            }
            .text-banner {
                padding-left: 10px;
                display: flex;
                align-items: center;
            }
        }
        .menu-list {
            margin-top: 20px;
            background-color:#084B55;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            display: flex;
            .logo-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                margin: 10px;
                width: 30px;
                height: 30px;
                border-radius: 5px;
            }
            .text-menu {
                display: flex;
                align-items: center;
            }
            &:hover{
                background-color:#4dad77;
                cursor: pointer;
            }
        }
    }
    .side-bar-bottom {
        .user-name {
            padding-left: 5px;
            font-size: 20px;
        }
        .position {
            padding-left: 5px;
            font-size: 15px;
        }
        .logout{
            margin-top: 10px;
            background-color: #3F8E61;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            .logo-logout{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                margin: 10px 0px;
                width: 30px;
                height: 30px;
                border-radius: 5px;
            }
            .text-logout {
                display: flex;
                align-items: center;
            }
            &:hover{
                background-color:#58b680;
                cursor: pointer;
            }
        }
    }
}