#earnBox {
  width: 600px;
  height: 270px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1050px) and (max-width: 1680px) {
    width: 500px;
  }
  #avgCarbon, #totalEarn {
    background-color: #fff;
    height: 48%;
    border-radius: 10px;
    display: flex;
    &.loading {
      background-color: #FFCF72;
    }
    .loading-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
    }
    .bgLeft {
      border-radius: 10px 0 0 10px;
      width: 40%;
      background-color: orange;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      color: #fff;
      font-weight: bold;
    }
    .bgRight {
      padding: 20px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      flex-direction: column;
      .text-volume {
        font-size: 55px;
        text-align: center;
      }
      .text-unit {
        font-size: 18px;
        color: #B4B4B4;
        margin-left: 150px;
      }
    }
  }
}