#card {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1289px;
  height: 175px;
  @media (min-width: 1050px) and (max-width: 1680px) {
    width: 1160px;
  }
  .card-item {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 18px;
    transition: 0.6s;
    &:hover {
      cursor: pointer;
      background-color: #FFCF72;
      transform: scale(1.09);
      .mid {
        .volume {
          .text-gram {
            color: black;
          }
        }
      }
    }
    &:active {
      transform: scale(0.97);
    }
    .top {
      height: 25%;
      display: flex;
      flex-direction: row;
      padding: 0;
      .con-topic {
        width: 80%;
        text-align: start;
        font-size: 18px;
        margin: 0;
      }
      .con-percent {
        // background-color: #B60101;
        width: 20%;
        height: 27px;
        border-radius: 10px;
        text-align: center;
        padding-top: 4px;
        margin: 0;
        color: #ffffff;
      }
    }
    .mid {
      height: 45%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .volume {
        width: fit-content;
        margin: 0;
        text-align: center;
        .volume-text {
          font-size: 60px;
        }
        .text-gram-box {
          text-align: right;
          .text-gram {
            margin-right: 2%;
            font-size: 18px;
            color: #B4B4B4;
            cursor: pointer;
            
          }
        }
      }
    }
    .loading-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &.active {
      background-color: #FFCF72;
      .mid {
        .volume {
          .text-gram {
            color: black;
          }
        }
      }
    }
  }
}